.scills {
  height: 100%;
  overflow: hidden;
  display: flex;
  /* background: url('/background2.png') center/cover no-repeat;
  width: 100%;
  position: absolute;
  top: +100vh;
  left: 0;
  left: 0; */
}

.sScills {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTitle {
  font-size: 80px;
  margin-block-end: 54px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.scill {
  width: 120px;
  height: 120px;
  background-color:rgb(178, 129, 209);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 48px;
  height: 48px;
}

.info h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.info h3 {
  font-size: 13px;
  font-weight: 300;
}

/* /* .service:nth-child(1) .icon{
  background-color: rgb(15, 209, 99);
}

.service:nth-child(2) .icon{
  background-color: rgb(199, 120, 162);
}

.service:nth-child(3) .icon{
  background-color: rgb(122, 30, 70);
} */


@media(max-width:1200px) {
  .scill {
    width: 100px;
    height: 100px;
  }

  .info h2 {
    font-size: 14px;
  }
}


@media(max-width:1024px) {
  .left{
    width: 100%;
  }

  .list {
    justify-content: center;
    max-width: 600px;
    margin: auto;
  }

  .mainTitle {
    font-size: 62px;
    margin-block-end: 0;
  }

 .right {
  display: none;
 }
}

@media(max-width: 496px) {
  .scill {
    width: 80px;
    height: 80px;
  }

  .icon {
    width: 36px;
    height: 36px;
  }

  .img {
    width: 36px;
    height: 36px;
  }

  .info h2 {
    font-size: 12px;
  }
}
