.hero {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  /* height: fit-content; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.bg {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1300px; /* або 1200px, як тобі зручно */
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-inline: 24px; /* для відступів з боків */
}

.hImg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 80%;
  width: max-content;
}

.hImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hSection {
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hTitle {
  margin-block-start: 50px;
  font-size: 100px;
  color: rgb(186, 137, 238);
}

.hTitle span {
  color: white;
}

.about {
  width: 100%;
}

.aboutText{
  font-size: 20px;
  color: #ddd;
  margin: 16px 0;

}

.scroll {
  margin-block-end: 50px;
  width: max-content;
}

.hSection.right {
  align-items: end;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: rgb(178, 129, 209);
  border-bottom-right-radius: 10px;
}

.follow img {
  width: 20px;
  height: 20px;
}

.followtextContainer {
  width: 20px;
  height: 20px;
}

.followText {
  background-color: rgb(100, 27, 27);
  font-size: 12px;
  rotate: 90deg;
  width: max-content;
  height: 100%;
  transform-origin: left top;
  transform: translateY(-20px);
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
}

.contactLink {
  margin-bottom: 50px;
}

.circleText {
  letter-spacing: 3px;
  font-size: 20px;
}

.contactButton {
  position: relative;
}
.arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1200px) {
  .hTitle {
    font-size: 62px;
  }
}
@media (max-width:992px) { 
  .hTitle {
    margin-block-start: 30px;
  }

  .hImage {
    height: 100%;
  }

  .awards {
    width: 60%;
  }
}



@media (max-width: 860px) {
  .hSection.left {
    width: 60%;;
  }
  .hSection.right {
    width: 40%;
  }

  .hTitle {
    font-size: 48px;
  }

  .hSection.left {
    align-items: center;
    text-align: center;
    gap: 36px;
  }

  .awards {
    width: 100%;
  }

  .awardsList {
    justify-content: center;
  }

  .hSection.right {
    justify-content: end;
  }

  .follow,
  .certificate {
    display: none;
  }
}

@media (max-width:768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hSection.hSection.left {
    width: 100%;
    gap: 24px;
  }

  .hSection.hSection.right {
    display: none;
  }

  .bg {
    display: none;
  }

  .contactLink {
    display: none;
  }
}

@media (max-width:450px) {
  .hSection.hSection.left {
    gap: 0;
  }
  .aboutText {
    font-size: 18px;
  }
}